body {
    font-family: roboto;
    background-color: rgb(21, 74, 219);
}

.home {
    background-color:rgb(7, 7, 78);
    width: 300px;
    color: aliceblue;
    padding: 10px;
    box-shadow: 10px 10px 25px black;
    text-align: center;
}

.p1{
    color: white;
    background-color: rgb(7, 7, 78);
    padding: 9.5px;
    text-align: center;
}

.p2{
    color: rgb(7, 250, 7);
    background-color: rgb(7, 7, 78);
    padding: 9.5px;
    text-align: center;
}

.p3{
    color: black;
    background-color:orange;
    padding: 5px;
    text-align: center;
    width: 160px;
    border-radius:20px;
}

.p4{
    color: black;
    background-color:rgb(208, 255, 0);
    width: 60px;
    border-radius: 40px;
}

.p5{
    color: rgb(180, 15, 15);
    background: url(https://th.bing.com/th/id/OIP.iEYeYD0cwL58m1zCGD2cxgHaHa?w=187&h=187&c=7&r=0&o=5&pid=1.7);
    width: 90px;
    text-align: center;
    font-size: 15px;
}

.p6{

}